<style>
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .card-footer a:hover {
        background-color: rgb(26, 66, 177);
    }

    .card {
        border: white;
    }

    .card-footer {
        background-color: white;
        border: white;
    }

    img {
        display: flex;
        width: 95%;
        height: 95%;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 600px) {
        .menu-centrado ul li {
            float: none;
            width: 100%;
        }
    }
</style>